<div class="row">
  <br><br><br><br><br><br>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1 align="center"> Usuarios Registrados </h1>
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Correo</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of Users">
          <td scope="row">{{user.name}}</td>
          <td>
            {{user.mail}}
          </td>
          <td>
            <button class="btn btn-danger" (click)="deleteuser(user.mail)">
              <i class="far fa-trash-alt"></i>
            </button>
            
          </td>
          
        </tr>
      </tbody>
  </table>
  </div>
  <div class="col-md-2"></div>
</div>
<!--
<div class="col-md-4" *ngFor="let user of Users">
  <div class="card text-center">
    <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
      {{"NOMBRE DE USUARIO: "+user.name}}
      <button class="btn btn-danger" (click)="deleteuser(user.mail)">
        <i class="far fa-trash-alt"></i>
      </button>
    </div>
    
    <div class="card-body">
      <p>{{"CORREO ELECTRONICO: "+user.mail}}</p>
      
      <a [routerLink]="['/games/edit', game.id]" class="btn btn-info btn-block">
        EDIT GAME
      </a>
    </div>
  </div>
</div>
-->